.music {
    &__artist-listeners {
        position: relative;
        z-index: 2;
    }

    &__artist-listeners-count,
    &__artist-listeners-label {
        text-align: right;
        color: #aaaaaa;
        font-weight: 100;
        font-size: 16px;
        letter-spacing: 1px;
    }
}