.header {

    &__user-more-list {
        position: absolute;
        background: #282828;
        top: 100%;
        right: 0;
        z-index: 1000;
        display: block;
        float: left;
        min-width: 160px;
        margin-top: 25px;
        font-size: 14px;
        text-align: left;
        list-style: none;
    }




   
}