.sidebar{
    &__playlist {
        padding: 15px;
        background: #282828;
        border-top: 1px solid #181818;
        border-bottom: 1px solid #181818;

        &:hover {
            background: #424242;

            .sidebar__playlist-link {
                color: #fff;
            }
        }

        &-link {
            display: flex;
            align-items: center;
            font-size: 14px;
        }

        &-img {
            margin-right: 15px;
            color: #fff;
        }
    }
}