.sidebar{
    &__navigation-item {
        padding: 5px 0;
        display: flex;
        position: relative;

        &:hover {

            & {
                border-right: 3px solid #1ed760;

            }


            .sidebar__navigation-link,
            .sidebar__navigation-img {
                color: #fff;
            }

        }

        & svg{
            font-size: 16px;
            margin-right: 15px;
        }

    }

    &__navigation-link {
        display: flex;
        align-items: center;
        font-size: 12px;


    }

    

    &__navigation-img {
       
    }
}