.header {
    &__search {
        margin-left: 1%;
    }

    &__search-input {
        min-width: 195px;
        border-radius: 15px;
        border: none;
        background: white;
        color: #181818;
        padding: 4px 0 4px 30px;
        outline: none;
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/ios-search.svg);
        background-repeat: no-repeat;
        background-size: 10%;
        background-position: 5px;
    }
}